$body_background: #4b7399;

@mixin list($float: left, $margin: 10px) {
  ul {
    float: $float;
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      margin-right: $margin;
    }
  }
}
@mixin radius($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($color: #CCC, $values: 1px 1px 4px) {
  box-shadow: $color $values;
  -moz-box-shadow: $color $values;
  -webkit-box-shadow: $color $values;
}
@mixin gradient($top, $bottom) {
  background-image: -moz-linear-gradient(top, $top, $bottom);
  background-image: -webkit-linear-gradient($top, $top, $bottom, $bottom);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top, EndColorStr=$bottom);
}

html, body {
  background-color: $body_background;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0 10px;
  padding: 0;
}

a {
  color: #0000FF;

  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p {
    margin: 8px 10px;
  }

  ul {
    margin: 0;
  }

}

.field_with_errors {
  display: inline;
}

form {
  .field, .actions {
    margin: 10px 0;
  }

  label {
    display: block;
  }
}

nav {
  @include list(right, 15px);
}

#admin_toolbar {
  background: #fff;
  border: solid 1px #000;
  border-top: none;
  overflow: auto;
  padding: 10px;
  @include list(left, 20px);
}
